.img-g1 {
    background-color: white;
    width: 100%;
    height: 500px;
    margin-top: 0px;
    margin: -20px 0px;
    margin-bottom: 10px;
}

.card-g1 {
    padding: 50px 50px;
    width: 100%;
}

.card-n1 {
    float: left;
    background-color: #263238;
    width: 250px;
    height: 300px;
    margin: 50px 100px;
    text-align: center;
    padding: 120px 10px;
    z-index: 1;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
}

.card-n11 {
    background-color: #FF9800;
    border-radius: 50%;
    border: 50px;
    width: 150px;
    height: 150px;
    margin: 0px 150px;
    text-align: center;
    padding: 50px 5px;
    z-index: 2;
    position: absolute;
    color: #245A64;
}


.card-n2 {
    background-color: #263238;
    width: 250px;
    height: 300px;
    margin: 50px 500px;
    z-index: 1;
    text-align: center;
    padding: 150px 10px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
}

.card-n22 {
    background-color: #FF9800;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0px 550px;
    padding: 50px 5px;
    position: absolute;
    z-index: 2;
    text-align: center;
    color: #245A64;
}

.card-n3 {
    float: right;
    background-color: #263238;
    width: 250px;
    height: 300px;
    margin: -350px 100px;
    z-index: 1;
    text-align: center;
    padding: 120px 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
}

.card-n33 {
    /*float: right;*/
    background-color: #FF9800;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: -400px 945px;
    padding: 50px 5px;
    z-index: 2;
    position: absolute;
    text-align: center;
    color: #245A64;
}



.img-g2 {
    width: 100%;
    height: 600px;
    background-image: url('/imagem/cond1.jpg');
    margin: -20px 0px;
}

.card-title-g {
    border-radius: 8px;
    background-color: #263238;
    width: 600px;
    height: 500px;
    float: left;
    margin: 40px 370px;
}


.title-g{
    text-align: center;
    color: white;
}

.text-g {
    padding: 20px;
    font-size: 20px;
    color: white;
    word-spacing: 5px;
    margin-top: 15px;
}
