/*Última imagem da página index*/

.div-img-ind22 {
    margin-top: 80px;
    width: 100%;
}

.img-ind22 {
    float: right;
    height: 430px;
    width: 1000px;
    background: no-repeat;
    margin: 0px 0px;
    margin-top: 0px;
}


/*fundo texto da última imagem da página index*/

.txt-ind22 {
    float: left;
    background: linear-gradient(90deg, white 10%, white 50%, transparent);
    width: 700px;
    margin: -20px -100px;
}

.txt-img-ind22 {
    margin: 0px 20px;
}
