/*Última imagem da página index*/

.div-img-ind3 {
    margin-top: 80px;
    width: 100%;
}

.img-ind3 {
    float: right;
    height: 400px;
    width: 1000px;
    background: no-repeat;
    margin: 0px 0px;
    margin-top: 0px;
}

/*fundo do texto da última imagem da página index*/

.txt-ind3 {
    float: left;
    background: linear-gradient(90deg, white 10%, white 60%, transparent);
    width: 700px;
    margin: 0px -350px;
}

/*
.txt-img-ind3 {
    margin: 0px 0px;
}
*/