/*Menu da logo*/
.menu2 {
    height: 200px;
    width: 100%;
    min-width: 30%;
    max-width: 100%;
    background-color: white;
    margin-bottom: 0px;
    display: flex;
}


/*css da logo*/
.logo1 {
    float: left;
    font-weight: 600;
    display: flex;
    flex: 1;
    cursor: default;
    user-select: none;
}



