html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 0px;

}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
    margin: auto auto;
}

.dist-footer {
    background-color: transparent;
    width: auto;
    height: 0px;
}


/*confugirações das navs e menu*/

.logo {
    width: 350px;
    height: 220px;
    margin: -40px 480px;
}

.form-bt {
    float: right;
    margin: 5px 30px;
    display: inline-block;
}

.menu {
    height: 140px;
}

.menu1 {
    height: 50px;
    background-color: #245A64;
}


.txt-menu {
    margin: -25px 42px;
    width: 50px;
    height: 50px;
    font-size: 18px;
}


