@{
    ViewData["Title"] = "Gestão Financeira e Orçamentária";
}

<head>
    <link rel="stylesheet" href="~/css/gestao.css" />
</head>


<div class="img-g1">
    <div class="card-g1">
        <a style="text-decoration:none;" href="https://www.sindiconet.com.br/informese/como-fazer-a-previsao-orcamentaria-do-condominio-administracao-financas">
            <div class="card-n11">
                <h1>1º</h1>
            </div>
            <div class="card-n1">
                CONHEÇA O HISTÓRICO DE CONTAS DO SEU CONDOMÍNIO
            </div>
        </a>
        <a style="text-decoration:none;" href="https://www.sindiconet.com.br/informese/como-fazer-a-previsao-orcamentaria-do-condominio-administracao-financas">

            <div class="card-n22">
                <h1>2º</h1>
            </div>
            <div class="card-n2">
                PEÇA AJUDA PARA A ADMINISTRADORA
            </div>
        </a>
        <a style="text-decoration:none;" href="https://www.sindiconet.com.br/informese/como-fazer-a-previsao-orcamentaria-do-condominio-administracao-financas">
            <div class="card-n33">
                <h1>3º</h1>
            </div>
            <div class="card-n3">
                DÍVIDA AS CONTAS DO CONDOMÍNIO EM PEQUENOS GRUPOS E FAÇA UMA MÉDIA MENSAL
            </div>
        </a>
    </div>
</div>


<div class="img-g2">
    <div class="card-title-g">
        <div class="title-g">
            <h1>Gestão Financeira e Orçamentária</h1>
        </div>
        <div class="text-g">
            <div>
                Mudança do valor da cota condominial, emissão de taxa extra, manutenções atrasadas ou mal feitas, aumento da inadimplência... tudo isso pode ser um grande problema para o síndico.

                Isso porque as finanças são uma parte crucial de uma boa gestão do condomínio, e a previsão orçamentária é o grande alicerce das finanças do empreendimento durante aquele período.

                E como não poderia deixar de ser, o
                <a style="font-size: 18px; color: #FF9800">SíndicoNet</a>
                preparou um passo-a-passo para você não deixar passar nenhum detalhe e fazer uma previsão orçamentária completa.

                Há também uma planilha que ajudará a fazer a sua previsão mais fácil também.

                <a style="margin-top: 20px;" href="https://www.sindiconet.com.br/informese/como-fazer-a-previsao-orcamentaria-do-condominio-administracao-financas">
                    Confira!
                </a>
            </div>
        </div>
    </div>
</div>
