@{
    ViewData["Title"] = "Outorga";
}

<style>
    body {
        background-color: white;
    }

    .breadcrumb {
        background-color: white;
        text-decoration: none;
        font-size: 15px;
        letter-spacing: 2px;
        height: 30px;
    }

    .breadcrumb-item {
        padding: 0px 5px;
    }



    .title-gest {
        font-size: 70px;
        font-family: Verdana;
        text-align: center;
        color: #37474F;
        font-weight: 500;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .container {
        width: 100vw;
        height: 40vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
    }

    .img-poco {
        width: 100vw;
        height: 40vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: -100px;
    }

    .text-gest {
        margin-top: -70px;
        font-size: 25px;
        padding: 25px;
        background-color: white;
        width: 59vw;
        height: 40vw;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 270px;
    }

</style>

<body>
    <header>
        <nav arial-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    Consultoria
                </li>
                <li class="breadcrumb" style="color:#245A64; padding: 0px 2px">/</li>
                <li class="breadcrumb-item">
                    Outorga
                </li>
            </ol>
        </nav>
    </header>

    <main>
        <div class="title-gest">
            OUTORGA
        </div>
    </main>

    <div class="container">
        <img src="~/imagem/ana.jpg" width="800" height="400" />
    </div>

    <article>
        <div class="text-gest">
            <a style="font-size: 45px; font-family:'Comic Sans MS'; color:#D32F2F" class="mx-2">As</a>
            atividades humanas que provocam alterações nas condições naturais das
            águas são consideradas "usos", como, por exemplo, irrigação, abastecimento,
            eração de energia hidroelétrica, entre outros.

            A outorga de direito de uso tem como objetivo assegurar o controle quantitativo
            e qualitativo desses usos da água, bem como o efetivo exercício dos direitos de
            acesso aos recursos hídricos.

            Confira no site da
            <a style="text-decoration:none; color:#039BE5" href="https://www.ana.gov.br/gestao-da-agua/outorga-e-fiscalizacao">
                Agência Nacional de Águas de Saneamento Básico.
            </a>
        </div>

        <div class="img-poco">
            <img src="~/imagem/pocos.jpg" width="800" height="400" />
        </div>

        <div class="text-gest">
            Obra requer planejamento, traz riscos, mas pode evitar desabastecimento no condomínio
            Com os problemas de abastecimento de água se agravando, muitos condomínios têm buscado
            uma forma de se resguardar da falta desse insumo.

            O poço artesiano pode ser uma opção para esses casos. Afinal,
            ninguém quer ficar refém do abastecimento – que está precário em diversas regiões
            – e não depender dos caminhões-pipa, que também podem faltar e cujos preços, estima-se,
            irão subir bastante.


            Mas para Alexandre Furlan Braz, especialista em gestão ambiental e diretor do
            Instituto Muda, o poço artesiano não é o "plano B" ideal para condomínios,
            <a style="text-decoration:none;" href="https://www.sindiconet.com.br/informese/pocos-artesianos-manutencao-pocos-artesianos">
                Confira!
            </a>
        </div>
    </article>
</body>