@{
    ViewData["Title"] = "CONTATO";
}
<head>
    <link rel="stylesheet" href="~/css/contato.css" />
</head>


<div class="card-1">
    <div class="txt-card-1">
        <h1 class="mb-5">Síndica Profissional</h1>

        <h5 class="font-italic mb-5">
            "O síndico profissional é um profissional que estudou e se especializou para exercer essa função,
            podendo atuar em um ou mais condomínios e não precisa obrigatoriamente morar onde atua.
            "
        </h5>
        <p><a class="font-weight-bold">Telefone:</a> (65) 9-9999-9999</p>
        <a class="img-wh" href="https://api.whatsapp.com/send?phone=5565992616979" style="color:whitesmoke">
            <img class="rounded-lg" src="~/imagem/whats.jfif" width="23" height="23" alt="" />
        </a>
        <p><a class="font-weight-bold">E-mail:</a> sindicaprofissional@gmail.com</p>
    </div>
</div>

<div class="card-2">
    <div class="txt-card-2">
        <h1>Contato</h1>
        <div class="container" style="max-width: 500px;">
            <form>
                <div class="camp-nome">
                    <label for="Input1"></label>
                    <input type="text" class="form-control" placeholder="Seu nome">
                </div>
                <div class="camp-e-mail">
                    <label for="Input2"></label>
                    <input type="email" class="form-control" id="Input2" placeholder="nome@examplo.com">
                </div>
                <div>
                    <label for="Input3"></label>
                    <textarea type="text" class="form-control camp-mensagem" id="Input3" placeholder="Escreva sua mensagem..." style="height: 200px"></textarea>
                </div>
            </form>
            <div class="mt-3">
                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Enviar
                </button>

                <!-- The Modal -->
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Enviado com sucesso!!!</h4>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success" data-dismiss="modal">Fechar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
