@{
    ViewData["Title"] = "Contato";
}


<div style="background-color: white; width: 100%">
    <div id="card1" style="text-align: center; margin-top:-20px; margin-bottom:25px;">
        <img src="~/imagem/logo-2.png" width="170" height="150" alt="" />
        <div style="color:#263238; width: 400px; height: 150px; text-align: center; margin-left:480px;">
            <h2>CONTATO</h2>
            <h4>Gostaríamos muito de ouvir você!</h4>
        </div>
    </div>

    <div id="card2" style="background-color:white; margin-bottom:-10px;">
        <a href="https://api.whatsapp.com/send?phone=5565992616979&text=Ol%C3%A1,%20vi%20seu%20whats%20no%20site.%20Aviso:%20Devido%20a%20alta%20demanda,%20pedimos%20a%20compreens%C3%A3o%20em%20eventual%20espera%20no%20atendimento.%20Para%20maior%20agilidade,%20pe%C3%A7a%20pelo%20aplicativo%20Ultragaz%20Connect."
           style="text-decoration:none;  ">
            <img src="~/imagem/whats.jfif" width="100" height="100" alt="" style="border-radius:50%;
            margin: 10px 440px;" />
        </a>
        <div style="color:#263238; margin: 20px 410px; font-family:Arial, Helvetica, sans-serif;">
            <h3>TELEFONE</h3>
            <h5>(65)9-9261-6979</h5>
        </div>

        <a href="#" style="text-decoration:none; float: right; margin: -210px 450px;">
            <img src="~/imagem/email.png" width="100" height="100" alt="" style="border-radius:50%;" />
        </a>
        <div style="color:#263238; font-family:Arial, Helvetica, sans-serif; text-align:center; margin: -85px 365px; float:right">
            <h3>E-MAIL</h3>
            <h5>franciscaeuzilene@gmail.com</h5>
        </div>
    </div>
</div>