@{
    ViewData["Title"] = "Coleta-Seletiva";
}
<head>
    <link rel="stylesheet" href="~/css/coleta.css" />
</head>

<div style="background-color:whitesmoke">
    <div class="card-col-1">
        <div class="txt-col">
            <a style="font-size: 45px; font-family:'Comic Sans MS'; color:#D32F2F" class="mx-2">
                Coleta
            </a>
            seletiva dentro dos condomínios,
            é algo extremamente necessário nos dias atuais, pois o descarte
            indiscriminado é um grande problema da sociedade moderna.

            A conscientização em escolas e propagandas se mostra muito eficaz, a população tem tomado
            a frente na seleção do lixo afim de garantir uma melhor qualidade de vida e a preservação
            do meio ambiente.
        </div>
        <a href="https://sindicolegal.com/coleta-seletiva-dentro-dos-condominios/">
            <img class="img-col" src="~/imagem/coleta.jpg" width="500" height="300" alt="" />
        </a>
        <div class="txt-col-2">
            <a style="font-size: 45px; font-family:'Comic Sans MS'; color:#D32F2F" class="mx-2">
                Tal
            </a>
            atitude vem sendo inserida cada vez mais nos condomínios, sendo monitorada
            pelos condôminos e síndicos.

            SAIBA MAIS SOBRE:
            <a href="https://sindicolegal.com/coleta-seletiva-dentro-dos-condominios/" style="text-decoration:none; color:#FFB300">
                Como você divulga a importância da coleta seletiva em seu condomínio?
            </a>
        </div>
    </div>
</div>
