@{
    ViewData["Title"] = "Tratamento-de-Esgoto";
}

<head>
    <link rel="stylesheet" href="~/css/tratamento.css" />
</head>


<div style="background-color: whitesmoke">
    <div class="card-tra">
        <div class="txt-tra-1">
            <a style="font-size: 45px; font-family:'Comic Sans MS'; color:#D32F2F" class="mx-2">
                Entupimentos
            </a>
            em condomínio. Cuidar bem dos canos é fundamental para evitar problemas
            Em um sábado de noite, o pior aconteceu no condomínio onde José é síndico e morador.
            Primeiro, foram os lamentos de alguns moradores. Logo depois, foi o zelador, desavisado,
            a próxima vítima desse terrível mal que habita tantos condomínios.
        </div>
        <a href="https://www.sindiconet.com.br/informese/entupimentos-em-condominio-manutencao-encanamentos">
            <img class="img-tra" src="~/imagem/canos.jpg" width="500" height="300" alt="" />
        </a>
        <div class="txt-tra-2">
            <a style="font-size: 45px; font-family:'Comic Sans MS'; color:#D32F2F" class="mx-2">
                Só
            </a>
            que dessa vez não era um ladrão o que estava espalhando a preocupação no condomínio.
            Era o retorno do esgoto de um cano entupido.

            Esse filme de terror e suspense pode não acontecer nunca com a sua unidade, mas é mais
            frequente do que se imagina.

            <a href="https://www.sindiconet.com.br/informese/entupimentos-em-condominio-manutencao-encanamentos" style="text-decoration:none; color:#FFB300">
                SAIBA MAIS SOBRE!
            </a>
        </div>
    </div>
</div>