<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Síndica Profissional</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/estilo.css" />
</head>

<body style="background-color: whitesmoke">

    <header>

        <nav class="justify-content-md-around navbar-expand-sm border-bottom menu" style="background-color: white">
             <a asp-controller="Home" asp-action="Index">
                <img class="logo" src="~/imagem/logo1.png" />
            </a>
        </nav>
        <!--Esta nav é para o menu-->
        <nav class="justify-content-md-around navbar-expand-sm border-bottom  mb-2 menu1">

            <div class=" btn-group btn-group-toggle" data-toggle="collapse">
                <!--
            <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            </button>
        </div>
            -->
                <div class="navbar txt-menu" style="font-family: Arial, Helvetica, sans-serif">
                    <ul class="navbar-nav">
                        <li class="navbar nav-item">
                            <a class="nav-link" style="color:whitesmoke" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="navbar nav-item">
                            <a class="nav-link" style="color:whitesmoke" asp-controller="Home" asp-action="Servicos">SERVIÇOS</a>
                        </li>
                        <li class="navbar nav-item">
                            <a class="nav-link" style="color:whitesmoke" asp-controller="Home" asp-action="Contato">CONTATO</a>
                        </li>
                    </ul>
                </div>
            </div>

            <form class="form-inline form-bt" method="get" id="searchform">
                <input class="form-control" id="texto" size="30" type="search" placeholder="Busque no site" aria-label="Busque no site" list="pesquisa">
                <button class="btn border font-weight-bold" type="submit" style="color:whitesmoke; font-family:Arial">Buscar</button>
            </form>
        </nav>
    </header>

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <div class="dist-footer"></div>

    <footer class="border-top footer text-muted" style="background-color: black">
        <div class="container">
            &copy;2020 - Síndica Profissional
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
